<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="faridsoft.simplepos">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".halamanutama" />
        <activity android:name=".inputKategori" />
        <activity android:name=".inputsatuan" />
        <activity android:name=".inputSupplier" />
        <activity android:name=".inputPelanggan" />
        <activity android:name=".Pelanggan" />
        <activity android:name=".Supplier" />
        <activity android:name=".inputbarang" />
        <activity android:name=".caridata" />
        <activity android:name=".Databarang" />
        <activity android:name=".detailgambar" />
        <activity android:name=".halamandetilbarang" />
        <activity android:name=".ScanActivity" />
        <activity android:name=".inputsesuai" />
        <activity android:name=".Datacaribarang" />
        <activity android:name=".Datasesuai" />
        <activity android:name=".Pengaturan"></activity>
        <activity android:name=".inputpenjualan"></activity>
        <activity android:name=".PengaturanJual"></activity>
        <activity android:name=".DataPenjualan"></activity>
        <activity android:name=".DataPiutang"></activity>
    </application>

</manifest>